.dle-anime {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%), url("../assets/anime-bg.jpg");
}

.card-anime {
    background-image: url("../assets/card-anime.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px black solid;
}