@font-face {
    font-family: games;
    src: url("../assets/fonts/Cinematografica-Heavy-trial.ttf");
}

.dle-games {
    background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url("../assets/games-bg.png");
    font-family: games;
}

.card-games {
    background-color: #c10000;
    border: #ffffff 3px solid;
}