@font-face {
    font-family: title;
    src: url("../assets/fonts/HVD_Comic_Serif_Pro.otf");
}

.home {
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.title {
    letter-spacing: 2px;
    font-size: 4vh;
    font-weight: bold;
    max-height: 60px;
    font-family: title;
    color: #f59116;
    text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.dlebtn-container {
    display: flex;
    width: 80%;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-bottom: 2.5em;
}

.dltbtn {
    height: 15vh;
}

.dlebtn-logo {
    max-height: 120px;
    max-width: 100%;
    cursor: pointer;
}

.dlelist {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    gap: 1em;
}

.dlelist-name {
    width: 30%;
    min-width: 180px;
    max-width: 240px;
}

.dlelist-btns {
    width: 100%;
    height: 10vh;
    max-height: 180px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    justify-content: start;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 2em;
}

@media (max-width: 1000px) {
    .dlelist-btns {
        grid-auto-columns: 25vw;
    }

    .dlelist-name {
        width: 60%;
    }

    .title {
        font-size: 3vh;
    }
}