.dle-mario {
    background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url("../assets/mario-bg.jpg");
}

.card-mario {
    background-color: rgb(218, 14, 14);
    border: 3px white solid;
}