@font-face {
    font-family: movie;
    src: url("../assets/fonts/Cinematografica-Heavy-trial.ttf");
}

.dle-movie {
    background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url("../assets/movie-bg.jpg");
    font-family: movie;
}

.card-movie {
    background-color: #c10000;
    border: #ffffff 3px solid;
}