@font-face {
    font-family: sonic;
    src: url("../assets/fonts/NiseSegaSonic.TTF");
}

.dle-sonic {
    background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url("../assets/sonic-bg.png");
    font-family: sonic;
}

.card-sonic {
    background-color: #e5ba20;
    border: #001E76 3px solid;
}