@font-face {
    font-family: toons;
    src: url("../assets/fonts/Bigbesty.ttf");
}

.dle-toons {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%), url("../assets/toons-bg.jpg");
    font-family: toons;
}

.card-toons {   
    background-color: rgb(235, 55, 0);
    border: 3px black solid;
}

.dlemenubtn-toons {
    background-color: rgb(235, 55, 0);
    border: 3px black solid;
}