@font-face {
    font-family: valorant;
    src: url("../assets/fonts/Valorant\ Font.ttf");
}

.dle-valorant {
    background-image: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url("../assets/valorant-bg.jpg");
    font-family: valorant;
}

.card-valorant {
    background-color: #53212B;
    border: #FFFBF5 2px solid;
}