.classic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.5rem;
    margin-bottom: 2vh;
}

.form {
    padding-top: 3vh;
}

.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}

.submit {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5vh;
    width: 100%;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: .15rem .5rem;
}

.submit-container {
    max-height: 40vh;
    width: 100%;
    padding-right: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.submit:hover {
    background-color: lightgray;
}

.submit-input {
    border: none;
    background: none;
}

.submit-text {
    width: 80%;
}

.submit-img {
    height: 5vh;
    width: 5vh;
    object-fit: cover;
    object-position: top;
    border: 1px black solid;
    border-radius: 5px;
}

.field-name {
    width: 100%;
    padding: 2px;
    color: aliceblue;
    border-bottom: aliceblue 2px solid;
}

.grid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(60px, 80px));
    gap: 1rem;
    width: 100%;
}

.field {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightslategrey;
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
    overflow-wrap: break-word;
    opacity: 0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.submit-text input {
    font-size: clamp(0.2rem, 2.5vw, 0.8rem);
    margin: 0;
}

.submit-text p {
    font-size: clamp(0.2rem, 2vw, 0.8rem);
    margin: 0;
    font-style: italic;
}

.field p {
  font-size: clamp(0.2rem, 2vw, 0.8rem);
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.field-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.match {
  background-color: rgb(12, 180, 12);
}

.field.partial {
  background-color: orange;
}

.wrong {
  background-color: red;
}

.field.superior {
  background-color: red;
  background-image: url("../assets/down-arrow.png");
  background-size: contain;
}

.field.inferior {
  background-color: red;
  background-image: url("../assets/up-arrow.png");
  background-size: contain;
}

.field.before {
  background-color: red;
  background-image: url("../assets/right-arrow.png");
  background-size: contain;
}

.field.after {
  background-color: red;
  background-image: url("../assets/left-arrow.png");
  background-size: contain;
}

.searchbar {
  width: 100%;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.searchbar:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.searchbar:hover {
  outline: 1px solid lightgrey;
}

.win {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.5s forwards linear 1;
    animation-delay: 5s;
}

.win-img {
    width: 40%;
    border: 2px solid black;
    border-radius: 8px;
}

.modal {
    background-color: rgb(209, 212, 214);
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    width: 20vw;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(109, 109, 109, 0.3);
    overflow-y: auto;
}

@media (max-width: 1000px) {
    .grid {
        overflow-x: auto;
    }

    .row {
        display: flex;
        gap: 0.5rem;
        justify-content: flex-start;
    }

    .modal {
        width: 50vw;
    }

    .form {
        width: 50%;
    }

    .field, .field-name {
        flex: 0 0 auto;
        min-width: 40px;
        max-width: 60px;
    }

    .field p {
        font-size: clamp(0.2rem, 3vw, 0.8rem);
    }

    .field-name {
        width: 100%;
    }
}

.legend {
    width: 60%;
    border: #f5f5f5 solid 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.field-indicator {
    height: 64px;
    width: 64px;
}

.tips-container {
    color: white;
}

.tips {
    background-color: rgb(18, 49, 77);
    border: white 2px solid;
    border-radius: 15px;
    padding: 0.5em;
}

.characterrow {
    position: relative;
    display: flex;
    width: 40%;
    padding: 0.5em;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    align-items: center;
    color: white;
}

.img-container {
    border: #242424 solid 3px;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 10vw;
    height: 10vw;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
}

.img-to-find {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.findmode-card {
    display: flex;
    gap: 1.5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}