.classic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.form {
    width: 25vw;
}

.submit {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 5vh;
    width: 100%;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: .15rem .5rem;
}

.submit:hover {
    background-color: lightgray;
}

.submit-input {
    border: none;
    background: none;
}

.submit-text {
    width: 80%;
}

.submit-img {
    height: 5vh;
    width: 5vh;
}

.field-name {
    height: 2vw;
    width: 5vw;
    padding: 2px;
    color: aliceblue;
    border-bottom: aliceblue 2px solid;
}

.row {
    display: flex;
    gap: 1vw;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    height: 5vw;
    width: 5vw;
    border: 2px solid white;
    border-radius: 5px;
    background-color: lightslategrey;
    color: white;
    inline-size: 5vw;
    overflow-wrap: break-word;
    opacity: 0;
}

.field.match {
  background-color: rgb(12, 180, 12);
}

.field.partial {
  background-color: orange;
}

.field.wrong {
  background-color: red;
}

.field.superior {
  background-color: red;
  background-image: url("../assets/down-arrow.png");
  background-size: contain;
}

.field.inferior {
  background-color: red;
  background-image: url("../assets/up-arrow.png");
  background-size: contain;
}

.field.before {
  background-color: red;
  background-image: url("../assets/right-arrow.png");
  background-size: contain;
}

.field.after {
  background-color: red;
  background-image: url("../assets/left-arrow.png");
  background-size: contain;
}

.searchbar {
  width: 100%;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.searchbar:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.searchbar:hover {
  outline: 1px solid lightgrey;
}