.dle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  height: 100vh;
  padding: 1vh;
  overflow: auto;
}

.modemenu {
  width: 60%;
  height: 10vh;
  margin-bottom: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.modemenu-btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dlemenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
  padding-bottom: 2vw;
  color: white;
  opacity: 0;
  animation: fadeIn 0.5s forwards linear 1;
}

.dlemenubtn {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 400px;
  color: white;
  background-color: #242424;
  border: 3px solid aliceblue;
  border-radius: 15px;
  cursor: pointer;
}

.dlemenubtn-icon {
  width: 40%;
  max-height: 100px;
  max-width: 80px;
  margin-left: 15px;
  padding: 0.5em;
}

.modebtn {
  height: 100%;
  width: 15%;
  position: relative;
}

.dlebtn-icon {
  width: 40%;
  padding: 0.5em;
}

.dlebtn-current {
  width: 100%;
  display: block;
  position: absolute;
  top: 95%;
}

.dlebtn-border {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  position: relative;
}

.searchbar-container {
  width: 30%;
}

.searchbar {
  width: 100%;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

.searchbar:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.searchbar:hover {
  outline: 1px solid lightgrey;
}

.submit {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 5vh;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
  padding: .15rem .5rem;
  gap: 1em;
}

.submit-container {
  position: absolute;
  top: 100%;
  z-index: 10;
  max-height: 40vh;
  width: 100%;
  padding-right: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.submit:hover {
  background-color: lightgray;
}

.submit-input {
  border: none;
  background: none;
}

.submit-img {
  height: 40px;
  width: 40px;
  aspect-ratio: auto 48 / 48;
  object-fit: cover;
  object-position: top;
  border: 1px black solid;
  border-radius: 5px;
  background-color: lightslategrey;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.submit-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit-text input {
  font-size: clamp(0.2rem, 2.5vw, 1rem);
  margin: 0;
}

.submit-text p {
  font-size: clamp(0.2rem, 2vw, 0.8rem);
  margin: 0;
  font-style: italic;
}

.match {
  background-color: rgb(12, 180, 12);
}

.partial {
  background-color: orange;
}

.wrong {
  background-color: red;
}

.superior {
  background-color: red;
  background-image: url("../../assets/down-arrow.png");
  background-size: contain;
}

.inferior {
  background-color: red;
  background-image: url("../../assets/up-arrow.png");
  background-size: contain;
}

.before {
  background-color: red;
  background-image: url("../../assets/right-arrow.png");
  background-size: contain;
}

.after {
  background-color: red;
  background-image: url("../../assets/left-arrow.png");
  background-size: contain;
}

.win {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s forwards linear 1;
}

.win-img {
  width: 40%;
  background-color: lightslategrey;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 8px;
}

.settings {
  margin-bottom: 2em;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1000px) {
  .searchbar-container {
    width: 100%;
  }

  .modemenu {
    width: 80%;
  }

  .modebtn {
    width: 30%;
  }
}