header, body {
  background-color: #282c34;
}

.outline {
  text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.App {
  text-align: center;
  height: 100vh;
}

#onepiece {
  background-image: url("assets/onepiece-bg.jpg");
  background-size: cover;
  height: 100vh;
  padding: 1vh;
}