header, body {
  background-color: #282c34;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outline {
  text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

#onepiece {
  background-image: url("assets/onepiece-bg.jpg");
  background-size: cover;
  height: 100vh;
  padding: 1vh;
  overflow: auto;
}

#onepiece::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#onepiece::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f5f500;
}

#onepiece::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}