.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
    z-index: 10;
    cursor: pointer;
}

.homebtn-text {
    display: inline;
    max-width: 200px;
}

.homebtn-icon {
    display: none;
    width: 32px;
    height: 32px;
}

.tips-container {
    color: white;
    margin-top: 1em;
}

.tips {
    background-color: rgb(18, 49, 77);
    border: white 2px solid;
    border-radius: 15px;
    padding: 0.5em;
}

.legend {
    width: 60%;
    border: #f5f5f5 solid 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.dropdown {
    width: 30%;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgb(236, 236, 236);
    border: #242424 3px solid;
    border-radius: 5px;
    color: black;
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: rgb(236, 236, 236);
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

}

.option:hover {
    background: #666;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

.setting-content {
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .home-btn {
        margin: 1em;
        padding: 0.5em;
    }

    .homebtn-text {
        display: none;
    }

    .homebtn-icon {
        display: block;
    }
}